<p id="notice"><%= notice %></p>
<div style="margin-top: 5%">
  <h2><%= flash[:alert] %></h2>

    <% @sites.each do |site| %>

          <div class="col-sm-6 col-md-4">

            <div class="thumbnail thumb-box">

                <h2 style="text-align: center"><%= site.title %></h2>
                <%= image_tag(site.logo_url, size:'250x300') %>

                <div style="text-align: center">
                  <%= link_to 'Show', site %>
                <% if can? :update, site %>
                  <%= link_to 'Edit', edit_site_path(site) %>
                <% end %>
                <% if can? :destroy, site %>
              <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
                </div>
                <div class="caption" style="text-align: center">
                  <%= link_to like_site_path(site), class: 'like', method: :put do %>
                      <button type="button" class="btn btn-info" aria-label="left-align">
                        <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidder="true"></span>
                        <span class="badge"><%= site.get_upvotes.size %></span>
                      </button>
                  <% end %>

                  <%= link_to dislike_site_path(site), class: "like", method: :put do %>
                      <button type="button" class="btn btn-info" aria-label="left-align">
                        <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidder="true"></span>
                        <span class="badge"><%= site.get_downvotes.size %></span>
                      </button>
                  <% end %>
                </div>
            </div>
          </div>

    <% end %>

  <br>

</div>